.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
  padding: 0 300px;
}

.gallery.hide {
  display: none;
}

.gallery--item {
  background-color: rgb(165, 165, 165);
  height: 200px;
}

@media (max-width: 1300px) {
  .gallery {
    padding: 0 50px;
  }
}

@media (max-width: 850px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 50px;
  }
}

@media (max-width: 550px) {
  .gallery {
    grid-template-columns: 100%;
    padding: 0 50px;
  }
}

