/* imports */
@import "styles/base.css";
@import "styles/components/landing.css";
@import "styles/components/gallery.css";

/* variables */
:root {
  /* fonts */
  --primary-font: "Inter", sans-serif;
  /* colors */
  --black: #111111;
  --gray: #808080;
  --white: #ffffff;
}

/* commons */
body {
  font-family: var(--primary-font);
  color: var(--black);
  background-color: var(--white);
}
